<IfModule mod_rewrite.c>
    RewriteEngine On

    # Arahkan semua traffic dari root ke folder /public milik Laravel
    RewriteCond %{REQUEST_URI} !^/public
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>
